### The relationship between salary and other factors in the survey of stackoverflow

#### Salary and self-learning factor

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
# EducationTypes
# SelfTaughtTypes
# OpenSource
# Hobby
# StackOverflowVisit
# StackOverflowParticipate

In [3]:
survey_path = "/Users/jimmytsai/Downloads/stack-overflow-2018-developer-survey/survey_results_public.csv"
survey = pd.read_csv(survey_path,',')

In [4]:
survey

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,1 - 2 times per week,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,I don't typically exercise,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy
7,10,Yes,Yes,Nigeria,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Designer;Front-end developer;QA or test developer,...,1 - 2 times per week,Female,NaN,Primary/elementary school,Black or of African descent,25 - 34 years old,No,NaN,The survey was too long,Somewhat difficult
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy
9,16,No,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Designer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,17,Yes,No,Spain,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...","1,000 to 4,999 employees",Back-end developer;Database administrator;Mobi...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18,Yes,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",100 to 499 employees,Back-end developer;Front-end developer;Full-st...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,19,Yes,No,Croatia,NaN,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Front-end developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,20,No,No,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",20 to 99 employees,Back-end developer;Full-stack developer,...,I don't typically exercise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,21,No,No,Netherlands,"Yes, full-time",Employed full-time,"Secondary school (e.g. American high school, G...",NaN,20 to 99 employees,Back-end developer;Front-end developer;Student,...,Daily or almost every day,Male,NaN,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult
15,22,Yes,No,Israel,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Fine arts or performing arts (ex. graphic desi...,"5,000 to 9,999 employees",Full-stack developer,...,3 - 4 times per week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,26,No,No,United States,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Student,...,3 - 4 times per week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,27,Yes,No,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,...,3 - 4 times per week,Male,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat difficult
18,29,Yes,Yes,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,...,Daily or almost every day,Female,NaN,Some college/university study without earning ...,NaN,NaN,NaN,NaN,The survey was too long,Very difficult
19,31,Yes,Yes,Chile,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,...,1 - 2 times per week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,33,Yes,Yes,Australia,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult
21,34,Yes,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,500 to 999 employees,Back-end developer;Desktop or enterprise appli...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy
22,37,No,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult
23,38,Yes,No,United States,No,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,...,I don't typically exercise,"Female;Male;Transgender;Non-binary, genderquee...",NaN,They never completed any formal education,White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy
24,39,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,...,Daily or almost every day,Female;Male,NaN,NaN,NaN,25 - 34 years old,No,NaN,The survey was too long,Very easy
25,41,Yes,Yes,Greece,"Yes, full-time",Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Very easy
26,43,Yes,Yes,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,...,1 - 2 times per week,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",Hispanic or Latino/Latina;White or of European...,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
27,44,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Very easy
28,45,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,46,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,...,I don't typically exercise,NaN,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Black or of African descent;East Asian;Hispani...,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98825,101084,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98826,101085,Yes,Yes,Russian Federation,No,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98827,101114,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98828,101120,No,No,Russian Federation,NaN,Employed full-time,Primary/elementary school,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98829,101138,Yes,Yes,Netherlands,"Yes, full-time",Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98830,101151,Yes,Yes,India,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98831,101152,Yes,No,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98832,101154,Yes,Yes,Netherlands,No,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98833,101170,Yes,No,India,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,Back-end developer;QA or test developer;Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98834,101185,Yes,Yes,Poland,NaN,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Back-end developer;Designer;Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98835,101200,Yes,Yes,Viet Nam,"Yes, full-time",NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98836,101202,Yes,Yes,"Iran, Islamic Republic of...","Yes, full-time",Employed full-time,I never completed any formal education,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98837,101205,Yes,No,Czech Republic,"Yes, full-time","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98838,101258,No,No,Poland,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98839,101263,Yes,Yes,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98840,101281,Yes,Yes,India,"Yes, part-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98841,101310,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98842,101358,Yes,Yes,Pakistan,No,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98843,101366,Yes,No,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98844,101371,Yes,Yes,India,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98845,101391,No,Yes,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98846,101396,Yes,Yes,Azerbaijan,NaN,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98847,101411,No,No,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98848,101432,Yes,No,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98849,101478,No,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98850,101513,Yes,Yes,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98851,101531,No,Yes,Spain,"Yes, full-time","Not employed, but looking for work",NaN,NaN,NaN,Back-end developer;Front-end developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98852,101541,Yes,Yes,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98853,101544,Yes,No,Russian Federation,No,"Independent contractor, freelancer, or self-em...",Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98854,101548,Yes,Yes,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
survey = survey.dropna(subset=['ConvertedSalary'])
survey = survey[survey['ConvertedSalary'] != 0]
survey[['ConvertedSalary']]

       ConvertedSalary
1              70841.0
4              21426.0
5              41671.0
6             120000.0
8             250000.0
17             47904.0
20             95968.0
22               420.0
23             75000.0
24             10958.0
25             51408.0
26             72611.0
27            900000.0
30             30000.0
32             44000.0
33             60000.0
35             80000.0
41            123984.0
42             21228.0
43             74000.0
45              6576.0
46            115000.0
47             70000.0
49             90000.0
51            115000.0
53             73428.0
56            128507.0
57             13212.0
62            120000.0
63             48955.0
...                ...
89661          28200.0
89666          12000.0
89679          11244.0
89683            400.0
89709           3252.0
89727            936.0
89733          45000.0
89752           3180.0
89754         269076.0
89762           1050.0
89770          35421.0
89776           1584.0
89806          10284.0
89820           3228.0
89832          11436.0
89835           2256.0
89839          96000.0
89846          18350.0
89853          21600.0
89859           2820.0
89871          13900.0
89888            800.0
89896           8050.0
89898           4548.0
89911          10000.0
89913          25788.0
89926            372.0
89932          97233.0
89938           1944.0
89954          10284.0

[46860 rows x 1 columns]

In [6]:
survey['na_count'] = survey.apply(lambda x: x.count(), axis=1)
survey

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy,na_count
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,124
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,120
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,125
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy,125
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy,125
17,27,Yes,No,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,...,Male,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat difficult,116
20,33,Yes,Yes,Australia,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,125
22,37,No,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult,111
23,38,Yes,No,United States,No,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,...,"Female;Male;Transgender;Non-binary, genderquee...",NaN,They never completed any formal education,White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy,121
24,39,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,...,Female;Male,NaN,NaN,NaN,25 - 34 years old,No,NaN,The survey was too long,Very easy,79
25,41,Yes,Yes,Greece,"Yes, full-time",Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Very easy,110
26,43,Yes,Yes,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,...,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",Hispanic or Latino/Latina;White or of European...,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,118
27,44,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Very easy,114
30,47,No,No,Poland,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Engineering manager,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was an appropriate length,Somewhat easy,126
32,51,Yes,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,500 to 999 employees,Back-end developer;Designer;Front-end develope...,...,Female,Straight or heterosexual,Associate degree,White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Very easy,111
33,52,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,Female,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Very easy,122
35,54,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;DevO...,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,Yes,No,The survey was too long,Somewhat difficult,108
41,61,Yes,No,India,No,Employed full-time,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",20 to 99 employees,Designer;Front-end developer,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",South Asian,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Neither easy nor difficult,120
42,63,No,No,Russian Federation,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,Female,NaN,NaN,NaN,35 - 44 years old,Yes,NaN,NaN,NaN,74
43,66,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","5,000 to 9,999 employees",Back-end developer;Embedded applications or de...,...,Male,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Somewhat easy,111
45,71,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",South Asian,25 - 34 years old,Yes,NaN,The survey was too long,Very easy,96
46,72,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Somewhat easy,126
47,75,Yes,No,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,20 to 99 employees,Back-end developer;Designer;Educator or academ...,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,35 - 44 years old,No,No,The survey was too long,Neither easy nor difficult,73
49,77,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;DevOps specialist,...,"Male;Non-binary, genderqueer, or gender non-co...",Bisexual or Queer,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Somewhat easy,108
51,79,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy,112
53,81,No,Yes,Germany,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,122
56,84,Yes,No,Ireland,No,Employed full-time,Some college/university study without earning ...,"Information systems, information technology, o...","10,000 or more employees",Back-end developer;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52
57,85,Yes,Yes,France,"Yes, part-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Front-end developer;Student,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,120
62,91,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,...,Male,Straight or heterosexual,"Professional degree (JD, MD, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Somewhat easy,108
63,92,Yes,Yes,Germany,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Full-stack developer,...,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89661,89489,Yes,Yes,United States,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Student,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,18 - 24 years old,NaN,No,The survey was an appropriate length,Neither easy nor difficult,102
89666,89735,Yes,No,Argentina,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,Male,NaN,"Secondary school (e.g. American high school, G...",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Very easy,117
89679,90128,No,No,Denmark,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,Male,Straight or heterosexual,Some college/university study without earning ...,Middle Eastern;White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Neither easy nor difficult,112
89683,90442,Yes,No,United States,No,"Not employed, but looking for work",Primary/elementary school,NaN,NaN,Student,...,Male,Straight or heterosexual,Primary/elementary school,White or of European descent,Under 18 years old,No,No,The survey was an appropriate length,Neither easy nor difficult,106
89709,91248,Yes,Yes,Taiwan,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,Female,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",East Asian,18 - 24 years old,No,NaN,The survey was too long,Neither easy nor difficult,109
89727,91781,Yes,Yes,India,"Yes, full-time",NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,Male,Straight or heterosexual,Primary/elementary school,South Asian,18 - 24 years old,No,NaN,The survey was too long,Somewhat easy,114
89733,92237,Yes,Yes,United States,"Yes, full-time","Not employed, but looking for work",Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,NaN,Back-end developer;Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60
89752,92873,Yes,Yes,Russian Federation,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,"C-suite executive (CEO, CTO, etc.)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89
89754,92974,Yes,No,South Korea,No,Employed full-time,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Educator or academic researcher,...,Male,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",South Asian,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat easy,106
89762,93274,Yes,No,United Kingdom,No,"Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Male,Straight or heterosexual,NaN,White or of European descent,Under 18 years old,No,NaN,The survey was too long,Somewhat easy,95
89770,93593,No,No,United Kingdom,"Yes, full-time","Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,112
89776,93845,Yes,Yes,Chile,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The survey was too long,Neither easy nor difficult,61
89806,95313,Yes,No,Portugal,No,Retired,"Secondary school (e.g. American high school, G...",NaN,NaN,Educator or academic researcher,...,Male,Straight or heterosexual,NaN,White or of European descent,65 years or older,No,NaN,The survey was an appropriate length,Neither easy nor difficult,95
89820,95789,No,No,Lithuania,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Male,Straight or heterosexual,"Professional degree (JD, MD, etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,109
89832,96050,Yes,Yes,Argentina,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",NaN,Educator or academic researcher,...,Female,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",NaN,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult,104
89835,96076,Yes,No,India,"Yes, full-time",NaN,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",NaN,Student,...,Male,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,18 - 24 years old,No,NaN,The survey was an appropriate length,Very easy,106
89839,96174,Yes,No,France,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,Male,Straight or heterosexual,"Professional degree (JD, MD, etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Somewhat easy,112
89846,96514,Yes,Yes,Belgium,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,Under 18 years old,No,NaN,The survey was an appropriate length,Very easy,112
89853,96713,Yes,No,Russian Federation,No,"Not employed, and not looking for work",Some college/university study without earning ...,Web development or web design,NaN,Student,...,Male,Straight or heterosexual,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult,112
89859,96995,No,No,India,No,"Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",South Asian,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,112
89871,97346,Yes,No,United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",NaN,NaN,...,Male,Straight or heterosexual;Bisexual or Queer,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,114
89888,98064,Yes,Yes,India,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Designer;Student,...,Male,Straight or heterosexual;Asexual,They never completed any formal education,NaN,18 - 24 years old,No,NaN,The survey was too long,Somewhat difficult,108
89896,98304,Yes,No,Canada,No,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Student,...,Male,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",White or of European descent,Under 18 years old,No,NaN,The survey was an appropriate length,Somewhat easy,111
89898,98419,Yes,No,Netherlands,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,NaN,Student,...,Male,Gay or Lesbian;Asexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult,96
89911,98758,Yes,No,United States,No,Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Male,Bisexual or Queer,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,Under 18 years old,No,No,The survey was too long,Very easy,111

In [7]:
survey['official_document_learning'] = survey['SelfTaughtTypes'].str.contains('The official documentation and/or standards for the technology', regex=False)

In [8]:
survey

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy,na_count,official_document_learning
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,124,True
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,120,True
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,125,True
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy,125,True
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy,125,True
17,27,Yes,No,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,...,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat difficult,116,False
20,33,Yes,Yes,Australia,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,125,True
22,37,No,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult,111,False
23,38,Yes,No,United States,No,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,...,NaN,They never completed any formal education,White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy,121,True
24,39,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,...,NaN,NaN,NaN,25 - 34 years old,No,NaN,The survey was too long,Very easy,79,NaN
25,41,Yes,Yes,Greece,"Yes, full-time",Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Very easy,110,True
26,43,Yes,Yes,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",Hispanic or Latino/Latina;White or of European...,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,118,True
27,44,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Very easy,114,True
30,47,No,No,Poland,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Engineering manager,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was an appropriate length,Somewhat easy,126,True
32,51,Yes,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,500 to 999 employees,Back-end developer;Designer;Front-end develope...,...,Straight or heterosexual,Associate degree,White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Very easy,111,False
33,52,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Very easy,122,True
35,54,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;DevO...,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,Yes,No,The survey was too long,Somewhat difficult,108,True
41,61,Yes,No,India,No,Employed full-time,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",20 to 99 employees,Designer;Front-end developer,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",South Asian,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Neither easy nor difficult,120,False
42,63,No,No,Russian Federation,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,NaN,NaN,NaN,35 - 44 years old,Yes,NaN,NaN,NaN,74,NaN
43,66,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","5,000 to 9,999 employees",Back-end developer;Embedded applications or de...,...,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Somewhat easy,111,True
45,71,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",South Asian,25 - 34 years old,Yes,NaN,The survey was too long,Very easy,96,True
46,72,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Somewhat easy,126,True
47,75,Yes,No,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,20 to 99 employees,Back-end developer;Designer;Educator or academ...,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,35 - 44 years old,No,No,The survey was too long,Neither easy nor difficult,73,True
49,77,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;DevOps specialist,...,Bisexual or Queer,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,No,The survey was an appropriate length,Somewhat easy,108,True
51,79,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy,112,False
53,81,No,Yes,Germany,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,122,True
56,84,Yes,No,Ireland,No,Employed full-time,Some college/university study without earning ...,"Information systems, information technology, o...","10,000 or more employees",Back-end developer;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,True
57,85,Yes,Yes,France,"Yes, part-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Front-end developer;Student,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,120,True
62,91,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,...,Straight or heterosexual,"Professional degree (JD, MD, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Somewhat easy,108,True
63,92,Yes,Yes,Germany,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Full-stack developer,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,115,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89661,89489,Yes,Yes,United States,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Student,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,18 - 24 years old,NaN,No,The survey was an appropriate length,Neither easy nor difficult,102,True
89666,89735,Yes,No,Argentina,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,NaN,"Secondary school (e.g. American high school, G...",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Very easy,117,False
89679,90128,No,No,Denmark,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,Straight or heterosexual,Some college/university study without earning ...,Middle Eastern;White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Neither easy nor difficult,112,True
89683,90442,Yes,No,United States,No,"Not employed, but looking for work",Primary/elementary school,NaN,NaN,Student,...,Straight or heterosexual,Primary/elementary school,White or of European descent,Under 18 years old,No,No,The survey was an appropriate length,Neither easy nor difficult,106,NaN
89709,91248,Yes,Yes,Taiwan,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",East Asian,18 - 24 years old,No,NaN,The survey was too long,Neither easy nor difficult,109,NaN
89727,91781,Yes,Yes,India,"Yes, full-time",NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,Straight or heterosexual,Primary/elementary school,South Asian,18 - 24 years old,No,NaN,The survey was too long,Somewhat easy,114,False
89733,92237,Yes,Yes,United States,"Yes, full-time","Not employed, but looking for work",Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,NaN,Back-end developer;Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN
89752,92873,Yes,Yes,Russian Federation,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,"C-suite executive (CEO, CTO, etc.)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89,False
89754,92974,Yes,No,South Korea,No,Employed full-time,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Educator or academic researcher,...,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",South Asian,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat easy,106,True
89762,93274,Yes,No,United Kingdom,No,"Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Straight or heterosexual,NaN,White or of European descent,Under 18 years old,No,NaN,The survey was too long,Somewhat easy,95,True
89770,93593,No,No,United Kingdom,"Yes, full-time","Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,112,NaN
89776,93845,Yes,Yes,Chile,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,NaN,NaN,NaN,NaN,NaN,NaN,The survey was too long,Neither easy nor difficult,61,NaN
89806,95313,Yes,No,Portugal,No,Retired,"Secondary school (e.g. American high school, G...",NaN,NaN,Educator or academic researcher,...,Straight or heterosexual,NaN,White or of European descent,65 years or older,No,NaN,The survey was an appropriate length,Neither easy nor difficult,95,NaN
89820,95789,No,No,Lithuania,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Straight or heterosexual,"Professional degree (JD, MD, etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Very easy,109,False
89832,96050,Yes,Yes,Argentina,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",NaN,Educator or academic researcher,...,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",NaN,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult,104,False
89835,96076,Yes,No,India,"Yes, full-time",NaN,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",NaN,Student,...,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,18 - 24 years old,No,NaN,The survey was an appropriate length,Very easy,106,NaN
89839,96174,Yes,No,France,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,Straight or heterosexual,"Professional degree (JD, MD, etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was too long,Somewhat easy,112,True
89846,96514,Yes,Yes,Belgium,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,Under 18 years old,No,NaN,The survey was an appropriate length,Very easy,112,True
89853,96713,Yes,No,Russian Federation,No,"Not employed, and not looking for work",Some college/university study without earning ...,Web development or web design,NaN,Student,...,Straight or heterosexual,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult,112,True
89859,96995,No,No,India,No,"Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",South Asian,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,112,NaN
89871,97346,Yes,No,United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",NaN,NaN,...,Straight or heterosexual;Bisexual or Queer,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,114,NaN
89888,98064,Yes,Yes,India,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Designer;Student,...,Straight or heterosexual;Asexual,They never completed any formal education,NaN,18 - 24 years old,No,NaN,The survey was too long,Somewhat difficult,108,NaN
89896,98304,Yes,No,Canada,No,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Student,...,Straight or heterosexual,"Other doctoral degree (Ph.D, Ed.D., etc.)",White or of European descent,Under 18 years old,No,NaN,The survey was an appropriate length,Somewhat easy,111,True
89898,98419,Yes,No,Netherlands,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,NaN,Student,...,Gay or Lesbian;Asexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult,96,False
89911,98758,Yes,No,United States,No,Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,Bisexual or Queer,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,Under 18 years old,No,No,The survey was too long,Very easy,111,True

In [9]:
survey.loc[survey['StackOverflowVisit'].str.contains("Multiple times per day", na=False),'visit_level'] = 5
survey.loc[survey['StackOverflowVisit'].str.contains("Daily or almost daily", na=False),'visit_level'] = 4
survey.loc[survey['StackOverflowVisit'].str.contains("A few times per week", na=False),'visit_level'] = 3
survey.loc[survey['StackOverflowVisit'].str.contains("Less than once per month or monthly", na=False),'visit_level'] = 2
survey.loc[survey['StackOverflowVisit'].str.contains("A few times per month or weekly", na=False),'visit_level'] = 1
survey.loc[survey['StackOverflowVisit'].str.contains("I have never visited Stack Overflow (before today)", na=False),'visit_level'] = 0

In [10]:
survey['visit_level']

1        1.0
4        4.0
5        1.0
6        5.0
8        1.0
17       5.0
20       4.0
22       1.0
23       4.0
24       4.0
25       4.0
26       3.0
27       4.0
30       4.0
32       3.0
33       1.0
35       3.0
41       4.0
42       NaN
43       3.0
45       5.0
46       5.0
47       1.0
49       1.0
51       4.0
53       3.0
56       NaN
57       5.0
62       2.0
63       5.0
        ...
89661    3.0
89666    1.0
89679    5.0
89683    1.0
89709    5.0
89727    3.0
89733    3.0
89752    NaN
89754    5.0
89762    4.0
89770    4.0
89776    3.0
89806    3.0
89820    3.0
89832    1.0
89835    1.0
89839    4.0
89846    4.0
89853    1.0
89859    1.0
89871    3.0
89888    1.0
89896    4.0
89898    1.0
89911    3.0
89913    4.0
89926    NaN
89932    4.0
89938    4.0
89954    4.0
Name: visit_level, Length: 46860, dtype: float64

In [11]:
survey.loc[survey['StackOverflowParticipate'].str.contains("Multiple times per day" , na=False),'participate_level'] = 5
survey.loc[survey['StackOverflowParticipate'].str.contains("Daily or almost daily", na=False),'participate_level'] = 4
survey.loc[survey['StackOverflowParticipate'].str.contains("A few times per week", na=False),'participate_level'] = 3
survey.loc[survey['StackOverflowParticipate'].str.contains("A few times per month or weekly", na=False),'participate_level'] = 2
survey.loc[survey['StackOverflowParticipate'].str.contains("Less than once per month or monthly", na=False),'participate_level'] = 1
survey.loc[survey['StackOverflowParticipate'].str.contains("I have never participated in Q&A on Stack Overflow", na=False),'participate_level'] = 0

In [12]:
survey['participate_level']

1        2.0
4        1.0
5        1.0
6        0.0
8        1.0
17       1.0
20       1.0
22       1.0
23       1.0
24       1.0
25       3.0
26       1.0
27       1.0
30       2.0
32       1.0
33       NaN
35       NaN
41       1.0
42       NaN
43       1.0
45       3.0
46       2.0
47       NaN
49       NaN
51       1.0
53       1.0
56       NaN
57       NaN
62       1.0
63       2.0
        ...
89661    1.0
89666    0.0
89679    0.0
89683    NaN
89709    NaN
89727    0.0
89733    NaN
89752    NaN
89754    1.0
89762    NaN
89770    NaN
89776    NaN
89806    NaN
89820    NaN
89832    1.0
89835    0.0
89839    NaN
89846    1.0
89853    0.0
89859    1.0
89871    0.0
89888    NaN
89896    1.0
89898    1.0
89911    NaN
89913    0.0
89926    NaN
89932    1.0
89938    4.0
89954    0.0
Name: participate_level, Length: 46860, dtype: float64

In [13]:
survey.loc[survey['EducationTypes'].str.contains("Taught yourself a new language, framework, or tool without taking a formal course" , na=False),'teach_self'] = True
survey.loc[survey['EducationTypes'].str.contains("Participated in a hackathon", na=False),'hackathon'] = True
survey.loc[survey['EducationTypes'].str.contains("Contributed to open source software", na=False),'open_source'] = True
survey.loc[survey['EducationTypes'].str.contains("Completed an industry certification program (e.g. MCPD)", na=False),'certification'] = True
survey.loc[survey['EducationTypes'].str.contains("Taken an online course in programming or software development (e.g. a MOOC)", na=False),'online_course'] = True
survey.loc[survey['EducationTypes'].str.contains("Participated in a full-time developer training program or bootcamp", na=False),'bootcamp'] = True
survey.loc[survey['EducationTypes'].str.contains("Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder)", na=False),'competition'] = True
survey

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,official_document_learning,visit_level,participate_level,teach_self,hackathon,open_source,certification,online_course,bootcamp,competition
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,True,1.0,2.0,True,NaN,True,NaN,NaN,NaN,NaN
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,True,4.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,True,1.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,True,5.0,0.0,True,NaN,NaN,NaN,NaN,NaN,NaN
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,True,1.0,1.0,True,True,True,NaN,NaN,NaN,NaN
17,27,Yes,No,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,...,False,5.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
20,33,Yes,Yes,Australia,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,...,True,4.0,1.0,True,NaN,True,NaN,NaN,NaN,NaN
22,37,No,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,...,False,1.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
23,38,Yes,No,United States,No,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,...,True,4.0,1.0,True,True,True,NaN,NaN,True,NaN
24,39,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,...,NaN,4.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
25,41,Yes,Yes,Greece,"Yes, full-time",Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,...,True,4.0,3.0,True,NaN,True,NaN,NaN,NaN,NaN
26,43,Yes,Yes,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,...,True,3.0,1.0,True,True,True,NaN,NaN,NaN,NaN
27,44,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,...,True,4.0,1.0,True,NaN,NaN,NaN,NaN,True,NaN
30,47,No,No,Poland,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Engineering manager,...,True,4.0,2.0,True,NaN,NaN,NaN,NaN,NaN,NaN
32,51,Yes,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,500 to 999 employees,Back-end developer;Designer;Front-end develope...,...,False,3.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
33,52,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,True,1.0,NaN,True,True,NaN,NaN,NaN,NaN,NaN
35,54,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;DevO...,...,True,3.0,NaN,True,NaN,True,NaN,NaN,NaN,NaN
41,61,Yes,No,India,No,Employed full-time,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",20 to 99 employees,Designer;Front-end developer,...,False,4.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
42,63,No,No,Russian Federation,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,66,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","5,000 to 9,999 employees",Back-end developer;Embedded applications or de...,...,True,3.0,1.0,True,NaN,True,NaN,NaN,NaN,NaN
45,71,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,True,5.0,3.0,True,NaN,NaN,NaN,NaN,NaN,NaN
46,72,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,True,5.0,2.0,True,NaN,True,NaN,NaN,NaN,NaN
47,75,Yes,No,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,20 to 99 employees,Back-end developer;Designer;Educator or academ...,...,True,1.0,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
49,77,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;DevOps specialist,...,True,1.0,NaN,True,NaN,True,NaN,NaN,NaN,NaN
51,79,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,False,4.0,1.0,True,NaN,True,NaN,NaN,NaN,NaN
53,81,No,Yes,Germany,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,True,3.0,1.0,True,NaN,True,NaN,NaN,NaN,NaN
56,84,Yes,No,Ireland,No,Employed full-time,Some college/university study without earning ...,"Information systems, information technology, o...","10,000 or more employees",Back-end developer;Full-stack developer,...,True,NaN,NaN,True,True,NaN,NaN,NaN,True,NaN
57,85,Yes,Yes,France,"Yes, part-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Front-end developer;Student,...,True,5.0,NaN,True,True,True,NaN,NaN,NaN,NaN
62,91,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,...,True,2.0,1.0,True,True,True,NaN,NaN,True,NaN
63,92,Yes,Yes,Germany,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Full-stack developer,...,True,5.0,2.0,True,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89661,89489,Yes,Yes,United States,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Student,...,True,3.0,1.0,True,True,True,NaN,NaN,NaN,NaN
89666,89735,Yes,No,Argentina,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,False,1.0,0.0,True,NaN,NaN,NaN,NaN,True,NaN
89679,90128,No,No,Denmark,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,True,5.0,0.0,True,NaN,NaN,NaN,NaN,NaN,NaN
89683,90442,Yes,No,United States,No,"Not employed, but looking for work",Primary/elementary school,NaN,NaN,Student,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89709,91248,Yes,Yes,Taiwan,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89727,91781,Yes,Yes,India,"Yes, full-time",NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,False,3.0,0.0,True,NaN,NaN,NaN,NaN,NaN,NaN
89733,92237,Yes,Yes,United States,"Yes, full-time","Not employed, but looking for work",Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,NaN,Back-end developer;Student,...,NaN,3.0,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
89752,92873,Yes,Yes,Russian Federation,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,"C-suite executive (CEO, CTO, etc.)",...,False,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
89754,92974,Yes,No,South Korea,No,Employed full-time,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Educator or academic researcher,...,True,5.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
89762,93274,Yes,No,United Kingdom,No,"Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,True,4.0,NaN,True,NaN,NaN,NaN,NaN,True,NaN
89770,93593,No,No,United Kingdom,"Yes, full-time","Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89776,93845,Yes,Yes,Chile,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89806,95313,Yes,No,Portugal,No,Retired,"Secondary school (e.g. American high school, G...",NaN,NaN,Educator or academic researcher,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89820,95789,No,No,Lithuania,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,False,3.0,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
89832,96050,Yes,Yes,Argentina,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",NaN,Educator or academic researcher,...,False,1.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
89835,96076,Yes,No,India,"Yes, full-time",NaN,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",NaN,Student,...,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89839,96174,Yes,No,France,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,True,4.0,NaN,True,True,NaN,NaN,NaN,NaN,NaN
89846,96514,Yes,Yes,Belgium,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,True,4.0,1.0,True,NaN,True,NaN,NaN,NaN,NaN
89853,96713,Yes,No,Russian Federation,No,"Not employed, and not looking for work",Some college/university study without earning ...,Web development or web design,NaN,Student,...,True,1.0,0.0,True,NaN,NaN,NaN,NaN,NaN,NaN
89859,96995,No,No,India,No,"Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89871,97346,Yes,No,United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",NaN,NaN,...,NaN,3.0,0.0,NaN,True,NaN,NaN,NaN,NaN,NaN
89888,98064,Yes,Yes,India,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Designer;Student,...,NaN,1.0,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
89896,98304,Yes,No,Canada,No,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Student,...,True,4.0,1.0,True,True,NaN,NaN,NaN,NaN,NaN
89898,98419,Yes,No,Netherlands,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,NaN,Student,...,False,1.0,1.0,True,NaN,NaN,NaN,NaN,NaN,NaN
89911,98758,Yes,No,United States,No,Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,True,3.0,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
89913,98833,Yes,No,Mexico,"Yes, full-time","Not employed, but looking for work","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,True,4.0,0.0,True,NaN,NaN,NaN,NaN,NaN,NaN
89926,99539,No,No,India,No,"Not employed, and not looking for work",NaN,NaN,NaN,Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89932,99868,Yes,No,United Kingdom,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,True,4.0,1.0,True,True,NaN,NaN,NaN,NaN,NaN
89938,100091,Yes,Yes,India,NaN,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,NaN,4.0,4.0,NaN,True,NaN,NaN,NaN,NaN,NaN
89954,100743,Yes,No,Germany,"Yes, full-time","Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,True,4.0,0.0,True,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
survey[['teach_self','hackathon','open_source','certification','online_course','bootcamp','competition']] = survey[['teach_self','hackathon','open_source','certification','online_course','bootcamp','competition']].fillna(False)
survey

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,official_document_learning,visit_level,participate_level,teach_self,hackathon,open_source,certification,online_course,bootcamp,competition
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,True,1.0,2.0,True,False,True,False,False,False,False
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,True,4.0,1.0,True,False,False,False,False,False,False
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,True,1.0,1.0,True,False,False,False,False,False,False
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,True,5.0,0.0,True,False,False,False,False,False,False
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,True,1.0,1.0,True,True,True,False,False,False,False
17,27,Yes,No,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,...,False,5.0,1.0,True,False,False,False,False,False,False
20,33,Yes,Yes,Australia,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,...,True,4.0,1.0,True,False,True,False,False,False,False
22,37,No,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,...,False,1.0,1.0,True,False,False,False,False,False,False
23,38,Yes,No,United States,No,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,...,True,4.0,1.0,True,True,True,False,False,True,False
24,39,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,...,NaN,4.0,1.0,True,False,False,False,False,False,False
25,41,Yes,Yes,Greece,"Yes, full-time",Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,...,True,4.0,3.0,True,False,True,False,False,False,False
26,43,Yes,Yes,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,...,True,3.0,1.0,True,True,True,False,False,False,False
27,44,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,...,True,4.0,1.0,True,False,False,False,False,True,False
30,47,No,No,Poland,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Engineering manager,...,True,4.0,2.0,True,False,False,False,False,False,False
32,51,Yes,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,500 to 999 employees,Back-end developer;Designer;Front-end develope...,...,False,3.0,1.0,True,False,False,False,False,False,False
33,52,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,True,1.0,NaN,True,True,False,False,False,False,False
35,54,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;DevO...,...,True,3.0,NaN,True,False,True,False,False,False,False
41,61,Yes,No,India,No,Employed full-time,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",20 to 99 employees,Designer;Front-end developer,...,False,4.0,1.0,True,False,False,False,False,False,False
42,63,No,No,Russian Federation,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Full-stack developer,...,NaN,NaN,NaN,False,False,False,False,False,False,False
43,66,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","5,000 to 9,999 employees",Back-end developer;Embedded applications or de...,...,True,3.0,1.0,True,False,True,False,False,False,False
45,71,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,True,5.0,3.0,True,False,False,False,False,False,False
46,72,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,True,5.0,2.0,True,False,True,False,False,False,False
47,75,Yes,No,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,20 to 99 employees,Back-end developer;Designer;Educator or academ...,...,True,1.0,NaN,True,False,False,False,False,False,False
49,77,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;DevOps specialist,...,True,1.0,NaN,True,False,True,False,False,False,False
51,79,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Full-stack developer,...,False,4.0,1.0,True,False,True,False,False,False,False
53,81,No,Yes,Germany,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",100 to 499 employees,Back-end developer;Desktop or enterprise appli...,...,True,3.0,1.0,True,False,True,False,False,False,False
56,84,Yes,No,Ireland,No,Employed full-time,Some college/university study without earning ...,"Information systems, information technology, o...","10,000 or more employees",Back-end developer;Full-stack developer,...,True,NaN,NaN,True,True,False,False,False,True,False
57,85,Yes,Yes,France,"Yes, part-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Front-end developer;Student,...,True,5.0,NaN,True,True,True,False,False,False,False
62,91,Yes,Yes,United States,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,...,True,2.0,1.0,True,True,True,False,False,True,False
63,92,Yes,Yes,Germany,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Full-stack developer,...,True,5.0,2.0,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89661,89489,Yes,Yes,United States,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Student,...,True,3.0,1.0,True,True,True,False,False,False,False
89666,89735,Yes,No,Argentina,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,False,1.0,0.0,True,False,False,False,False,True,False
89679,90128,No,No,Denmark,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,True,5.0,0.0,True,False,False,False,False,False,False
89683,90442,Yes,No,United States,No,"Not employed, but looking for work",Primary/elementary school,NaN,NaN,Student,...,NaN,1.0,NaN,False,False,False,False,False,False,False
89709,91248,Yes,Yes,Taiwan,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,NaN,5.0,NaN,False,False,False,False,False,False,False
89727,91781,Yes,Yes,India,"Yes, full-time",NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,False,3.0,0.0,True,False,False,False,False,False,False
89733,92237,Yes,Yes,United States,"Yes, full-time","Not employed, but looking for work",Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,NaN,Back-end developer;Student,...,NaN,3.0,NaN,False,True,False,False,False,False,False
89752,92873,Yes,Yes,Russian Federation,"Yes, full-time","Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,"C-suite executive (CEO, CTO, etc.)",...,False,NaN,NaN,True,False,False,False,False,False,False
89754,92974,Yes,No,South Korea,No,Employed full-time,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",NaN,Educator or academic researcher,...,True,5.0,1.0,True,False,False,False,False,False,False
89762,93274,Yes,No,United Kingdom,No,"Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,True,4.0,NaN,True,False,False,False,False,True,False
89770,93593,No,No,United Kingdom,"Yes, full-time","Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,NaN,4.0,NaN,False,False,False,False,False,False,False
89776,93845,Yes,Yes,Chile,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,NaN,3.0,NaN,False,False,False,False,False,False,False
89806,95313,Yes,No,Portugal,No,Retired,"Secondary school (e.g. American high school, G...",NaN,NaN,Educator or academic researcher,...,NaN,3.0,NaN,False,False,False,False,False,False,False
89820,95789,No,No,Lithuania,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,False,3.0,NaN,True,False,False,False,False,False,False
89832,96050,Yes,Yes,Argentina,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",NaN,Educator or academic researcher,...,False,1.0,1.0,True,False,False,False,False,False,False
89835,96076,Yes,No,India,"Yes, full-time",NaN,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",NaN,Student,...,NaN,1.0,0.0,False,False,False,False,False,False,False
89839,96174,Yes,No,France,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,True,4.0,NaN,True,True,False,False,False,False,False
89846,96514,Yes,Yes,Belgium,"Yes, full-time","Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Student,...,True,4.0,1.0,True,False,True,False,False,False,False
89853,96713,Yes,No,Russian Federation,No,"Not employed, and not looking for work",Some college/university study without earning ...,Web development or web design,NaN,Student,...,True,1.0,0.0,True,False,False,False,False,False,False
89859,96995,No,No,India,No,"Not employed, and not looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,NaN,1.0,1.0,False,False,False,False,False,False,False
89871,97346,Yes,No,United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",NaN,NaN,...,NaN,3.0,0.0,False,True,False,False,False,False,False
89888,98064,Yes,Yes,India,"Yes, full-time","Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Designer;Student,...,NaN,1.0,NaN,False,False,True,False,False,False,False
89896,98304,Yes,No,Canada,No,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Student,...,True,4.0,1.0,True,True,False,False,False,False,False
89898,98419,Yes,No,Netherlands,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,NaN,Student,...,False,1.0,1.0,True,False,False,False,False,False,False
89911,98758,Yes,No,United States,No,Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,True,3.0,NaN,True,False,False,False,False,False,False
89913,98833,Yes,No,Mexico,"Yes, full-time","Not employed, but looking for work","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,True,4.0,0.0,True,False,False,False,False,False,False
89926,99539,No,No,India,No,"Not employed, and not looking for work",NaN,NaN,NaN,Student,...,NaN,NaN,NaN,False,False,False,False,False,False,False
89932,99868,Yes,No,United Kingdom,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Student,...,True,4.0,1.0,True,True,False,False,False,False,False
89938,100091,Yes,Yes,India,NaN,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,Back-end developer;Student,...,NaN,4.0,4.0,False,True,False,False,False,False,False
89954,100743,Yes,No,Germany,"Yes, full-time","Not employed, and not looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Student,...,True,4.0,0.0,True,False,False,False,False,False,False

In [15]:
# new_survey = survey[['ConvertedSalary','EducationTypes','Hobby','OpenSource','official_document_learning','visit_level','participate_level','teach_self','hackathon','open_source','certification','online_course','bootcamp','competition']]
# new_survey

In [16]:
# new_survey = new_survey[new_survey['visit_level'] >= new_survey['participate_level']]
# new_survey

### Salary and development skills

In [17]:
survey.loc[survey['LanguageWorkedWith'].str.contains("JavaScript" , na=False),'JavaScript'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("Python", na=False),'Python'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("SQL", na=False),'SQL'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("C\+\+", na=False, regex=True),'C++'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("[^a-zA-Z]C[^a-zA-Z]", na=False, regex=True),'C'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("[^a-zA-Z]C#[^a-zA-Z]", na=False, regex=True),'C#'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("[^a-zA-Z]R[^a-zA-Z]", na=False, regex=True),'R'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("Go", na=False),'Go'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("Ruby", na=False),'Ruby'] = True
survey.loc[survey['LanguageWorkedWith'].str.contains("[^a-zA-Z]Java[^a-zA-Z]", na=False, regex=True),'Java'] = True

In [18]:
survey[['JavaScript','Python','SQL','C++','C','C#', 'R','Go','Ruby','Java']] = survey[['JavaScript','Python','SQL','C++','C','C#', 'R','Go','Ruby','Java']].fillna(False)
survey[['JavaScript','Python','SQL','C++','C','C#', 'R','Go','Ruby','Java']]

,JavaScript,Python,SQL,C++,C,C#,R,Go,Ruby,Java
1,True,True,False,False,False,False,False,False,False,False
4,False,False,True,True,True,False,True,False,False,True
5,True,True,False,False,False,False,False,False,False,False
6,True,False,False,False,False,False,False,False,False,False
8,True,True,True,False,False,False,False,True,True,False
17,False,False,True,False,False,False,False,False,False,False
20,False,True,True,True,True,False,False,True,False,False
22,True,False,True,False,False,False,False,False,False,False
23,True,False,True,False,False,False,False,False,False,False
24,True,False,True,True,True,False,False,False,False,True
25,True,False,True,False,False,False,False,False,False,False
26,True,False,True,False,False,False,False,False,False,True
27,True,False,True,False,False,False,False,False,False,False
30,False,True,True,False,False,False,False,False,False,False
32,True,False,True,False,True,False,False,False,False,False
33,True,False,False,False,False,False,False,False,False,False
35,True,True,True,True,True,False,False,False,True,True
41,False,False,False,False,False,False,False,False,False,False
42,False,False,True,False,False,False,False,False,False,False
43,False,True,False,True,True,True,False,False,False,False
45,True,True,True,False,False,False,False,False,False,False
46,True,False,False,False,False,False,False,True,True,True
47,True,False,True,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,True,False
51,True,False,False,False,False,False,False,False,False,False
53,True,False,False,True,True,True,False,False,False,True
56,False,False,False,False,False,False,False,False,False,False
57,True,True,True,True,True,True,False,False,False,True
62,False,True,False,False,False,False,False,False,False,False
63,True,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
89661,True,True,False,False,False,False,False,False,False,False
89666,False,True,False,False,False,False,True,False,False,False
89679,False,False,False,False,False,False,False,False,False,False
89683,True,True,False,False,False,False,False,False,False,False
89709,True,True,False,True,True,False,False,False,False,True
89727,False,False,False,False,True,False,False,False,False,False
89733,True,True,False,False,False,False,False,True,False,False
89752,False,False,False,False,False,False,False,False,False,False
89754,False,True,False,False,False,False,False,False,False,False
89762,False,True,False,False,False,False,False,False,False,False
89770,False,False,True,False,False,False,False,False,False,True
89776,False,False,True,False,False,False,False,False,False,False
89806,True,False,False,False,False,False,False,False,False,False
89820,True,False,False,True,True,True,False,False,True,True
89832,False,False,False,False,False,False,False,False,False,False
89835,False,True,False,True,True,False,False,False,False,False
89839,True,True,False,True,True,False,True,True,False,True
89846,True,True,False,False,False,False,False,False,False,True
89853,False,False,False,False,False,False,False,False,False,False
89859,False,False,False,True,True,False,False,False,False,True
89871,False,True,True,False,False,False,False,False,False,False
89888,False,False,False,True,True,False,False,False,False,False
89896,False,True,False,False,False,False,False,False,False,False
89898,False,False,False,True,True,False,False,False,False,False
89911,False,False,False,True,False,False,False,False,False,True
89913,False,False,False,True,True,False,False,False,False,False
89926,False,False,False,True,False,False,False,False,False,True
89932,False,True,False,True,True,False,False,False,False,True
89938,False,True,True,True,True,True,False,False,False,True
89954,False,True,False,False,True,False,False,False,False,True

In [19]:
survey.loc[survey['DatabaseWorkedWith'].str.contains("SQL Server" , na=False),'SQL_Server'] = True
survey.loc[survey['DatabaseWorkedWith'].str.contains("PostgreSQL", na=False),'PostgreSQL'] = True
survey.loc[survey['DatabaseWorkedWith'].str.contains("Oracle", na=False),'Oracle'] = True
survey.loc[survey['DatabaseWorkedWith'].str.contains("MongoDB", na=False),'MongoDB'] = True
survey.loc[survey['DatabaseWorkedWith'].str.contains("MySQL", na=False),'MySQL'] = True
survey.loc[survey['DatabaseWorkedWith'].str.contains("Microsoft Azure (Tables, CosmosDB, SQL, etc)", na=False),'Azure'] = True
survey.loc[survey['DatabaseWorkedWith'].str.contains("Google BigQuery", na=False),'BigQuery'] = True

In [20]:
survey[['SQL_Server','PostgreSQL','Oracle','MongoDB','MySQL','Azure', 'BigQuery']] = survey[['SQL_Server','PostgreSQL','Oracle','MongoDB','MySQL','Azure', 'BigQuery']].fillna(False)
survey[['SQL_Server','PostgreSQL','Oracle','MongoDB','MySQL','Azure', 'BigQuery']]

       SQL_Server  PostgreSQL  Oracle  MongoDB  MySQL  Azure  BigQuery
1           False        True   False    False  False  False     False
4            True        True    True    False  False  False     False
5           False       False   False     True  False  False     False
6           False       False   False     True  False  False     False
8           False        True   False    False  False  False     False
17           True       False   False    False  False  False     False
20          False        True   False    False  False  False     False
22          False       False   False    False   True  False     False
23          False       False   False     True   True  False     False
24           True       False   False    False   True  False     False
25          False       False   False    False  False  False     False
26          False       False   False    False  False  False      True
27           True       False   False    False  False  False     False
30          False        True   False     True   True  False     False
32           True       False   False    False   True  False     False
33          False        True   False    False  False  False     False
35          False        True   False    False  False  False     False
41          False       False   False    False   True  False     False
42          False       False    True    False  False  False     False
43          False       False   False    False  False  False     False
45          False       False   False    False   True  False     False
46          False       False   False     True  False  False     False
47          False       False   False    False   True  False     False
49          False        True   False    False  False  False     False
51          False       False   False    False  False  False     False
53          False       False   False    False   True  False     False
56          False       False   False    False  False  False     False
57          False        True   False     True   True  False     False
62          False        True   False    False   True  False     False
63          False       False   False    False  False  False     False
...           ...         ...     ...      ...    ...    ...       ...
89661       False       False   False    False  False  False     False
89666       False        True    True     True   True  False     False
89679       False       False   False    False  False  False     False
89683       False       False    True    False  False  False     False
89709       False       False   False    False  False  False     False
89727       False       False   False    False  False  False     False
89733        True        True   False    False   True  False     False
89752       False       False   False    False  False  False     False
89754       False       False   False    False  False  False     False
89762       False       False   False    False  False  False     False
89770       False       False   False    False   True  False     False
89776        True       False   False    False   True  False     False
89806       False       False   False    False  False  False     False
89820       False        True   False    False  False  False     False
89832       False       False   False    False  False  False     False
89835       False       False   False    False  False  False     False
89839       False       False   False    False  False  False     False
89846        True        True   False    False  False  False     False
89853       False       False   False    False  False  False     False
89859       False        True   False    False  False  False     False
89871        True       False   False    False   True  False     False
89888        True       False   False    False   True  False     False
89896       False       False   False    False  False  False     False
89898       False       False   False    False  False  False     False
89911       False       False   False    False  False  False     False
89913       False       False   False    False  False  False     False
89926       False       False   False    False  False  False     False
89932       False        True   False    False  False  False     False
89938        True       False    True    False   True  False     False
89954       False       False   False    False  False  False     False

[46860 rows x 7 columns]

In [21]:
survey.loc[survey['PlatformWorkedWith'].str.contains("AWS" , na=False),'AWS'] = True
survey.loc[survey['PlatformWorkedWith'].str.contains("Azure", na=False),'Azure'] = True
survey.loc[survey['PlatformWorkedWith'].str.contains("Linux", na=False),'Linux'] = True
survey.loc[survey['PlatformWorkedWith'].str.contains("Firebase", na=False),'Firebase'] = True
survey.loc[survey['PlatformWorkedWith'].str.contains("Heroku", na=False),'Heroku'] = True
survey.loc[survey['PlatformWorkedWith'].str.contains("Android", na=False),'Android'] = True
survey.loc[survey['PlatformWorkedWith'].str.contains("iOS", na=False),'iOS'] = True

In [22]:
survey[['AWS','Azure','Linux','Firebase','Heroku','Android', 'iOS']] = survey[['AWS','Azure','Linux','Firebase','Heroku','Android', 'iOS']].fillna(False)
survey[['AWS','Azure','Linux','Firebase','Heroku','Android', 'iOS']]

         AWS  Azure  Linux  Firebase  Heroku  Android    iOS
1      False  False   True     False   False    False  False
4      False  False  False     False   False    False  False
5      False  False   True     False   False    False  False
6      False  False   True     False   False    False  False
8       True  False   True     False   False    False   True
17     False  False   True     False   False    False  False
20      True  False   True      True   False     True   True
22     False  False   True     False   False    False  False
23     False  False  False     False   False    False  False
24     False  False  False      True   False     True   True
25     False  False   True     False   False     True  False
26     False  False  False     False   False    False  False
27     False   True  False     False   False    False  False
30     False  False   True     False   False    False  False
32     False  False  False     False   False    False   True
33     False  False  False     False   False    False  False
35     False  False   True     False   False    False  False
41     False  False  False     False   False    False  False
42     False  False  False     False   False    False  False
43     False  False  False     False   False    False  False
45     False  False  False     False   False    False  False
46      True  False   True     False   False    False  False
47     False  False  False     False   False    False  False
49     False  False   True     False   False    False  False
51     False   True  False     False   False    False  False
53      True  False   True     False   False    False  False
56     False  False  False     False   False    False  False
57     False  False   True     False    True     True  False
62     False  False  False     False   False    False  False
63      True  False  False     False   False    False  False
...      ...    ...    ...       ...     ...      ...    ...
89661  False  False   True     False   False    False  False
89666  False  False   True     False   False    False  False
89679  False  False  False     False   False    False  False
89683  False  False  False     False   False     True  False
89709  False  False   True     False   False     True  False
89727  False  False  False     False   False     True  False
89733   True  False   True     False    True    False  False
89752  False  False  False     False   False     True  False
89754   True  False  False     False    True    False  False
89762  False  False  False     False   False    False  False
89770  False  False   True     False   False    False  False
89776  False  False  False     False   False    False  False
89806  False  False  False     False   False    False  False
89820  False  False  False     False   False    False  False
89832  False  False  False     False   False    False  False
89835  False  False  False     False   False    False  False
89839  False  False  False     False   False    False  False
89846  False  False   True     False    True    False  False
89853  False  False  False     False   False    False  False
89859  False  False  False     False   False    False  False
89871  False  False  False     False   False    False  False
89888  False  False   True     False   False    False  False
89896   True  False   True     False   False    False  False
89898  False  False  False     False   False    False  False
89911  False  False  False     False   False    False  False
89913  False  False   True     False   False     True  False
89926  False  False  False     False   False    False  False
89932  False  False   True     False   False    False  False
89938   True  False  False     False   False    False  False
89954  False  False   True     False   False    False  False

[46860 rows x 7 columns]

In [23]:
survey.loc[survey['FrameworkWorkedWith'].str.contains("Angular" , na=False),'Angular'] = True
survey.loc[survey['FrameworkWorkedWith'].str.contains("Hadoop", na=False),'Hadoop'] = True
survey.loc[survey['FrameworkWorkedWith'].str.contains("Django", na=False),'Django'] = True
survey.loc[survey['FrameworkWorkedWith'].str.contains("Node.js", na=False),'Node'] = True
survey.loc[survey['FrameworkWorkedWith'].str.contains("React", na=False),'React'] = True
survey.loc[survey['FrameworkWorkedWith'].str.contains("\.NET Core", na=False, regex=True),'.NET Core'] = True
survey.loc[survey['FrameworkWorkedWith'].str.contains("TensorFlow", na=False),'TensorFlow'] = True
survey.loc[survey['FrameworkWorkedWith'].str.contains("Spring", na=False),'Spring'] = True

In [24]:
survey[['Angular','Hadoop','Django','Node','React','.NET Core', 'TensorFlow','Spring']] = survey[['Angular','Hadoop','Django','Node','React','.NET Core', 'TensorFlow','Spring']].fillna(False)
survey[['Angular','Hadoop','Django','Node','React','.NET Core', 'TensorFlow','Spring']]

       Angular  Hadoop  Django   Node  React  .NET Core  TensorFlow  Spring
1        False   False    True  False  False      False       False   False
4        False   False   False  False  False      False       False   False
5         True   False   False   True  False      False       False   False
6        False   False   False   True   True      False       False   False
8        False    True   False   True   True      False       False   False
17       False   False   False  False  False       True       False   False
20        True   False   False   True  False      False       False   False
22       False   False   False  False  False       True       False   False
23       False   False   False  False  False      False       False   False
24        True   False   False  False  False      False       False   False
25        True   False   False   True  False      False       False   False
26       False   False   False   True   True      False       False   False
27       False   False   False  False  False      False       False   False
30       False   False    True  False  False      False       False   False
32       False   False   False  False  False      False       False   False
33        True   False   False   True  False      False       False   False
35       False   False   False  False   True      False       False   False
41        True   False   False   True  False       True       False   False
42       False   False   False  False  False      False       False   False
43       False   False   False  False  False       True        True   False
45       False   False    True  False  False      False       False   False
46       False   False   False   True  False      False       False    True
47       False   False   False  False  False      False       False   False
49       False   False   False  False  False      False       False   False
51        True   False   False   True  False      False       False   False
53       False   False   False  False  False      False       False    True
56       False   False   False  False  False      False       False   False
57        True   False    True   True   True      False       False   False
62       False    True   False  False  False      False       False   False
63        True   False   False   True  False      False       False   False
...        ...     ...     ...    ...    ...        ...         ...     ...
89661    False   False   False  False  False      False       False   False
89666    False   False   False  False  False      False       False   False
89679    False   False   False  False  False      False       False   False
89683    False   False   False  False  False      False       False   False
89709    False   False    True  False  False      False        True   False
89727    False   False   False  False  False      False       False   False
89733    False    True    True  False  False      False       False   False
89752    False   False   False  False  False       True       False   False
89754    False   False   False  False  False      False       False   False
89762    False   False   False  False  False      False       False   False
89770    False   False   False  False  False      False       False   False
89776    False   False   False  False  False      False       False   False
89806    False   False   False  False  False      False       False   False
89820    False   False   False  False  False      False       False   False
89832    False   False   False  False  False      False       False   False
89835    False   False   False  False  False      False       False   False
89839    False   False   False  False   True      False        True   False
89846    False   False   False  False  False      False       False   False
89853    False   False   False  False  False      False       False   False
89859    False   False   False  False  False      False       False   False
89871    False   False   False  False  False      False       False   False
89888    False   False    True  False  False      False       False   False
89896    False   False   False  False  False      False       False   False
89898    False   False   False  False  False      False       False   False
89911    False   False   False  False  False      False       False   False
89913    False   False   False  False  False      False       False   False
89926    False   False   False  False  False      False       False   False
89932    False   False   False  False  False      False       False   False
89938    False   False   False  False  False      False       False   False
89954    False   False   False  False  False      False       False   False

[46860 rows x 8 columns]

In [25]:
survey.loc[survey['DevType'].str.contains("Full-stack developer" , na=False),'Fullstack_developer'] = True
survey.loc[survey['DevType'].str.contains("Database administrator", na=False),'Database_administrator'] = True
survey.loc[survey['DevType'].str.contains("DevOps specialist", na=False),'DevOps'] = True
survey.loc[survey['DevType'].str.contains("System administrator", na=False),'System_administrator'] = True
survey.loc[survey['DevType'].str.contains("Engineering manager", na=False),'Engineering_manager'] = True
survey.loc[survey['DevType'].str.contains("Data or business analyst", na=False),'Data_business_analyst'] = True
survey.loc[survey['DevType'].str.contains("Desktop or enterprise applications developer", na=False),'applications_developer'] = True
survey.loc[survey['DevType'].str.contains("Game or graphics developer", na=False),'Game_developer'] = True
survey.loc[survey['DevType'].str.contains("QA or test developer", na=False),'QA_developer'] = True
survey.loc[survey['DevType'].str.contains("Front-end developer", na=False),'Frontend_developer'] = True
survey.loc[survey['DevType'].str.contains("Back-end developer", na=False),'Backend_developer'] = True
survey.loc[survey['DevType'].str.contains("Designer", na=False),'Designer'] = True
survey.loc[survey['DevType'].str.contains("Mobile developer", na=False),'Mobile_developer'] = True
survey.loc[survey['DevType'].str.contains("Data scientist or machine learning specialist", na=False),'Data_scientist'] = True

In [26]:
survey[['Fullstack_developer','Database_administrator','Engineering_manager','Data_business_analyst','applications_developer','Game_developer', 'QA_developer','Frontend_developer','Backend_developer','Designer','Mobile_developer','Data_scientist']] = survey[['Fullstack_developer','Database_administrator','Engineering_manager','Data_business_analyst','applications_developer','Game_developer', 'QA_developer','Frontend_developer','Backend_developer','Designer','Mobile_developer','Data_scientist']].fillna(False)
survey[['Fullstack_developer','Database_administrator','Engineering_manager','Data_business_analyst','applications_developer','Game_developer', 'QA_developer','Frontend_developer','Backend_developer','Designer','Mobile_developer','Data_scientist']]

,Fullstack_developer,Database_administrator,Engineering_manager,Data_business_analyst,applications_developer,Game_developer,QA_developer,Frontend_developer,Backend_developer,Designer,Mobile_developer,Data_scientist
1,True,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,True,True,False,False,False,False,False
5,True,True,False,False,False,False,False,True,True,False,False,False
6,True,False,False,False,False,False,False,True,True,False,False,False
8,True,True,True,True,False,False,False,False,True,False,False,False
17,False,False,False,False,False,False,False,False,True,False,False,False
20,True,True,False,False,False,False,False,False,False,False,True,False
22,True,True,False,False,True,False,False,True,True,True,False,False
23,True,True,False,False,False,False,True,True,True,False,False,False
24,False,False,False,False,False,False,False,False,False,False,True,False
25,True,False,False,False,False,False,False,False,False,False,False,False
26,True,False,False,False,False,False,False,True,False,False,False,False
27,True,False,False,False,False,False,False,False,True,False,False,False
30,False,False,True,False,False,False,False,False,True,False,False,False
32,True,False,False,False,False,False,False,True,True,True,True,False
33,True,False,False,False,False,False,False,False,False,False,False,False
35,True,True,False,False,False,False,False,True,True,False,True,False
41,False,False,False,False,False,False,False,True,False,True,False,False
42,True,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,True,False,False,False
45,True,False,False,False,True,False,False,True,True,False,False,False
46,True,False,False,False,False,False,False,False,True,False,False,False
47,False,False,False,False,False,False,False,True,True,True,False,False
49,False,False,False,False,False,False,False,False,True,False,False,False
51,True,False,False,False,False,False,False,False,True,False,False,False
53,True,False,False,False,True,False,False,True,True,False,False,False
56,True,False,False,False,False,False,False,False,True,False,False,False
57,False,False,False,False,False,False,False,True,True,False,False,False
62,False,False,False,False,False,False,True,False,True,False,False,True
63,True,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
89661,False,False,False,False,False,False,False,False,False,False,False,False
89666,False,False,False,False,False,False,False,False,True,False,False,False
89679,False,False,False,False,False,False,False,False,False,False,False,False
89683,False,False,False,False,False,False,False,False,False,False,False,False
89709,False,False,False,False,False,False,False,False,False,False,False,False
89727,False,False,False,False,False,False,False,False,False,False,False,False
89733,False,False,False,False,False,False,False,False,True,False,False,False
89752,False,False,False,False,False,False,False,False,False,False,False,False
89754,False,False,False,False,False,False,False,False,False,False,False,False
89762,False,False,False,False,False,False,False,False,False,False,False,False
89770,False,False,False,False,False,False,False,False,False,False,False,False
89776,False,False,False,False,False,False,False,False,False,False,False,False
89806,False,False,False,False,False,False,False,False,False,False,False,False
89820,False,False,False,False,False,False,False,False,False,False,False,False
89832,False,False,False,False,False,False,False,False,False,False,False,False
89835,False,False,False,False,False,False,False,False,False,False,False,False
89839,False,False,False,False,False,False,False,False,True,False,False,False
89846,False,False,False,False,False,False,False,False,True,False,False,False
89853,False,False,False,False,False,False,False,False,False,False,False,False
89859,False,False,False,False,False,False,False,False,True,False,False,False
89871,False,False,False,False,False,False,False,False,False,False,False,False
89888,False,False,False,False,False,False,False,False,False,True,False,False
89896,False,False,False,False,False,False,False,False,False,False,False,False
89898,False,False,False,False,False,False,False,False,False,False,False,False
89911,False,False,False,False,False,False,False,False,False,False,False,False
89913,False,False,False,False,False,False,False,False,False,False,False,False
89926,False,False,False,False,False,False,False,False,False,False,False,False
89932,False,False,False,False,False,False,False,False,False,False,False,False
89938,False,False,False,False,False,False,False,False,True,False,False,False
89954,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
new_survey = survey[['ConvertedSalary','Hobby','OpenSource','official_document_learning','visit_level','participate_level','teach_self','hackathon','open_source','certification','online_course','bootcamp','competition','JavaScript','Python','SQL','C++','C','C#', 'R','Go','Ruby','Java','SQL_Server','PostgreSQL','Oracle','MongoDB','MySQL','Azure', 'BigQuery','AWS','Azure','Linux','Firebase','Heroku','Android', 'iOS','Angular','Hadoop','Django','Node','React','.NET Core', 'TensorFlow','Spring','Fullstack_developer','Database_administrator','Engineering_manager','Data_business_analyst','applications_developer','Game_developer', 'QA_developer','Frontend_developer','Backend_developer','Designer','Mobile_developer','Data_scientist','TimeFullyProductive']]
new_survey

,ConvertedSalary,Hobby,OpenSource,official_document_learning,visit_level,participate_level,teach_self,hackathon,open_source,certification,...,Data_business_analyst,applications_developer,Game_developer,QA_developer,Frontend_developer,Backend_developer,Designer,Mobile_developer,Data_scientist,TimeFullyProductive
1,70841.0,Yes,Yes,True,1.0,2.0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,One to three months
4,21426.0,Yes,No,True,4.0,1.0,True,False,False,False,...,True,True,True,True,False,False,False,False,False,Three to six months
5,41671.0,Yes,No,True,1.0,1.0,True,False,False,False,...,False,False,False,False,True,True,False,False,False,Less than a month
6,120000.0,Yes,Yes,True,5.0,0.0,True,False,False,False,...,False,False,False,False,True,True,False,False,False,Six to nine months
8,250000.0,Yes,Yes,True,1.0,1.0,True,True,True,False,...,True,False,False,False,False,True,False,False,False,Three to six months
17,47904.0,Yes,No,False,5.0,1.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,Three to six months
20,95968.0,Yes,Yes,True,4.0,1.0,True,False,True,False,...,False,False,False,False,False,False,False,True,False,Less than a month
22,420.0,No,No,False,1.0,1.0,True,False,False,False,...,False,True,False,False,True,True,True,False,False,Less than a month
23,75000.0,Yes,No,True,4.0,1.0,True,True,True,False,...,False,False,False,True,True,True,False,False,False,Less than a month
24,10958.0,Yes,No,NaN,4.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,True,False,Less than a month
25,51408.0,Yes,Yes,True,4.0,3.0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,Three to six months
26,72611.0,Yes,Yes,True,3.0,1.0,True,True,True,False,...,False,False,False,False,True,False,False,False,False,One to three months
27,900000.0,No,No,True,4.0,1.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,Less than a month
30,30000.0,No,No,True,4.0,2.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,Less than a month
32,44000.0,Yes,No,False,3.0,1.0,True,False,False,False,...,False,False,False,False,True,True,True,True,False,One to three months
33,60000.0,No,No,True,1.0,NaN,True,True,False,False,...,False,False,False,False,False,False,False,False,False,One to three months
35,80000.0,Yes,Yes,True,3.0,NaN,True,False,True,False,...,False,False,False,False,True,True,False,True,False,Six to nine months
41,123984.0,Yes,No,False,4.0,1.0,True,False,False,False,...,False,False,False,False,True,False,True,False,False,Less than a month
42,21228.0,No,No,NaN,NaN,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
43,74000.0,Yes,Yes,True,3.0,1.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,One to three months
45,6576.0,Yes,No,True,5.0,3.0,True,False,False,False,...,False,True,False,False,True,True,False,False,False,One to three months
46,115000.0,Yes,Yes,True,5.0,2.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,Less than a month
47,70000.0,Yes,No,True,1.0,NaN,True,False,False,False,...,False,False,False,False,True,True,True,False,False,NaN
49,90000.0,Yes,Yes,True,1.0,NaN,True,False,True,False,...,False,False,False,False,False,True,False,False,False,Less than a month
51,115000.0,Yes,Yes,False,4.0,1.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,Less than a month
53,73428.0,No,Yes,True,3.0,1.0,True,False,True,False,...,False,True,False,False,True,True,False,False,False,Less than a month
56,128507.0,Yes,No,True,NaN,NaN,True,True,False,False,...,False,False,False,False,False,True,False,False,False,Less than a month
57,13212.0,Yes,Yes,True,5.0,NaN,True,True,True,False,...,False,False,False,False,True,True,False,False,False,NaN
62,120000.0,Yes,Yes,True,2.0,1.0,True,True,True,False,...,False,False,False,True,False,True,False,False,True,One to three months
63,48955.0,Yes,Yes,True,5.0,2.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,One to three months
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89661,28200.0,Yes,Yes,True,3.0,1.0,True,True,True,False,...,False,False,False,False,False,False,False,False,False,NaN
89666,12000.0,Yes,No,False,1.0,0.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89679,11244.0,No,No,True,5.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89683,400.0,Yes,No,NaN,1.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89709,3252.0,Yes,Yes,NaN,5.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89727,936.0,Yes,Yes,False,3.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89733,45000.0,Yes,Yes,NaN,3.0,NaN,False,True,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89752,3180.0,Yes,Yes,False,NaN,NaN,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89754,269076.0,Yes,No,True,5.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89762,1050.0,Yes,No,True,4.0,NaN,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89770,35421.0,No,No,NaN,4.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89776,1584.0,Yes,Yes,NaN,3.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89806,10284.0,Yes,No,NaN,3.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89820,3228.0,No,No,False,3.0,NaN,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89832,11436.0,Yes,Yes,False,1.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89835,2256.0,Yes,No,NaN,1.0,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89839,96000.0,Yes,No,True,4.0,NaN,True,True,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89846,18350.0,Yes,Yes,True,4.0,1.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,NaN
89853,21600.0,Yes,No,True,1.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89859,2820.0,No,No,NaN,1.0,1.0,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89871,13900.0,Yes,No,NaN,3.0,0.0,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89888,800.0,Yes,Yes,NaN,1.0,NaN,False,False,True,False,...,False,False,False,False,False,False,True,False,False,NaN
89896,8050.0,Yes,No,True,4.0,1.0,True,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89898,4548.0,Yes,No,False,1.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89911,10000.0,Yes,No,True,3.0,NaN,True,False,False,False,...,False,False,False,False,False,False,False,False,False,One to three months
89913,25788.0,Yes,No,True,4.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89926,372.0,No,No,NaN,NaN,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89932,97233.0,Yes,No,True,4.0,1.0,True,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89938,1944.0,Yes,Yes,NaN,4.0,4.0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89954,10284.0,Yes,No,True,4.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN

In [28]:
new_survey = new_survey[new_survey['visit_level'] >= new_survey['participate_level']]
new_survey

,ConvertedSalary,Hobby,OpenSource,official_document_learning,visit_level,participate_level,teach_self,hackathon,open_source,certification,...,Data_business_analyst,applications_developer,Game_developer,QA_developer,Frontend_developer,Backend_developer,Designer,Mobile_developer,Data_scientist,TimeFullyProductive
4,21426.0,Yes,No,True,4.0,1.0,True,False,False,False,...,True,True,True,True,False,False,False,False,False,Three to six months
5,41671.0,Yes,No,True,1.0,1.0,True,False,False,False,...,False,False,False,False,True,True,False,False,False,Less than a month
6,120000.0,Yes,Yes,True,5.0,0.0,True,False,False,False,...,False,False,False,False,True,True,False,False,False,Six to nine months
8,250000.0,Yes,Yes,True,1.0,1.0,True,True,True,False,...,True,False,False,False,False,True,False,False,False,Three to six months
17,47904.0,Yes,No,False,5.0,1.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,Three to six months
20,95968.0,Yes,Yes,True,4.0,1.0,True,False,True,False,...,False,False,False,False,False,False,False,True,False,Less than a month
22,420.0,No,No,False,1.0,1.0,True,False,False,False,...,False,True,False,False,True,True,True,False,False,Less than a month
23,75000.0,Yes,No,True,4.0,1.0,True,True,True,False,...,False,False,False,True,True,True,False,False,False,Less than a month
24,10958.0,Yes,No,NaN,4.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,True,False,Less than a month
25,51408.0,Yes,Yes,True,4.0,3.0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,Three to six months
26,72611.0,Yes,Yes,True,3.0,1.0,True,True,True,False,...,False,False,False,False,True,False,False,False,False,One to three months
27,900000.0,No,No,True,4.0,1.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,Less than a month
30,30000.0,No,No,True,4.0,2.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,Less than a month
32,44000.0,Yes,No,False,3.0,1.0,True,False,False,False,...,False,False,False,False,True,True,True,True,False,One to three months
41,123984.0,Yes,No,False,4.0,1.0,True,False,False,False,...,False,False,False,False,True,False,True,False,False,Less than a month
43,74000.0,Yes,Yes,True,3.0,1.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,One to three months
45,6576.0,Yes,No,True,5.0,3.0,True,False,False,False,...,False,True,False,False,True,True,False,False,False,One to three months
46,115000.0,Yes,Yes,True,5.0,2.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,Less than a month
51,115000.0,Yes,Yes,False,4.0,1.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,Less than a month
53,73428.0,No,Yes,True,3.0,1.0,True,False,True,False,...,False,True,False,False,True,True,False,False,False,Less than a month
62,120000.0,Yes,Yes,True,2.0,1.0,True,True,True,False,...,False,False,False,True,False,True,False,False,True,One to three months
63,48955.0,Yes,Yes,True,5.0,2.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,One to three months
70,85708.0,Yes,Yes,True,2.0,0.0,True,False,True,False,...,False,False,False,True,False,True,False,False,False,One to three months
73,36000.0,Yes,Yes,True,5.0,1.0,True,True,True,False,...,False,False,False,False,False,True,False,False,False,Less than a month
76,64116.0,No,No,NaN,5.0,0.0,False,False,False,False,...,False,False,False,False,True,True,False,False,False,Less than a month
79,45144.0,Yes,Yes,True,5.0,2.0,True,False,True,False,...,False,True,False,False,True,True,False,False,False,Less than a month
80,32412.0,Yes,No,NaN,5.0,0.0,False,False,False,False,...,False,False,False,False,False,True,False,False,False,One to three months
81,52627.0,Yes,No,True,3.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,One to three months
82,82648.0,Yes,Yes,True,4.0,1.0,True,True,True,False,...,False,False,False,False,True,True,False,True,False,Less than a month
86,120000.0,Yes,Yes,True,5.0,1.0,True,True,True,False,...,False,False,True,False,False,True,False,False,True,One to three months
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89434,1300.0,Yes,No,NaN,4.0,2.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89482,4200.0,Yes,No,False,1.0,0.0,True,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
89491,4344.0,Yes,No,False,3.0,3.0,True,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89540,5000.0,Yes,Yes,True,3.0,0.0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,NaN
89546,36.0,Yes,No,False,4.0,2.0,True,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89588,5136.0,No,No,NaN,2.0,1.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89594,2616.0,Yes,No,False,5.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89612,23172.0,Yes,No,True,4.0,1.0,True,True,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89617,756.0,No,No,True,3.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89627,19200.0,Yes,No,False,4.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89637,4000.0,Yes,No,False,3.0,0.0,True,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89655,960.0,Yes,No,True,1.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89656,1716.0,Yes,No,NaN,3.0,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89661,28200.0,Yes,Yes,True,3.0,1.0,True,True,True,False,...,False,False,False,False,False,False,False,False,False,NaN
89666,12000.0,Yes,No,False,1.0,0.0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89679,11244.0,No,No,True,5.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89727,936.0,Yes,Yes,False,3.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89754,269076.0,Yes,No,True,5.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89832,11436.0,Yes,Yes,False,1.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89835,2256.0,Yes,No,NaN,1.0,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89846,18350.0,Yes,Yes,True,4.0,1.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,NaN
89853,21600.0,Yes,No,True,1.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89859,2820.0,No,No,NaN,1.0,1.0,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89871,13900.0,Yes,No,NaN,3.0,0.0,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89896,8050.0,Yes,No,True,4.0,1.0,True,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89898,4548.0,Yes,No,False,1.0,1.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89913,25788.0,Yes,No,True,4.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89932,97233.0,Yes,No,True,4.0,1.0,True,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
89938,1944.0,Yes,Yes,NaN,4.0,4.0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,NaN
89954,10284.0,Yes,No,True,4.0,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN